<a href="https://colab.research.google.com/github/alyshapm/data-visualisation/blob/main/Assignment_1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessment 1a – Data and Task Abstraction

## Worth: 15% of your final marks; marked out of 100
## Due Date: -

### Part 1 – Data Abstraction (40 marks)

For this part, you will prepare a short data abstraction report on this dataset. Recall from Week 2’s lab that for data abstraction, you should discuss, at least:
- The data point, dataset, and attribute types of the data.
- The cardinality of the data.
- Whether data transformations will be necessary or appropriate.


Assessment 1a, part 1 – Data abstraction (40 marks):
-	Identify the dataset type.
						5 marks, 0 for incorrect
-	For each attribute,
o	Identify the attribute type (e.g.., “ordinal sequential”).
					15 marks; -1 for each incorrect, minimum of 0
o	Identify the range of possible values, including any “special” values.
					15 marks; -1 for each incorrect, minimum of 0
o	Indicate whether any transformations would be necessary or appropriate.
					5 marks

In [ ]:
import numpy  as np
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/alyshapm/data-visualisation/main/player_attributes.csv')

In [ ]:
df.head()

,ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24T00:00:00,Duke,USA,...,Y,Y,1990,1,25,5.7,0.3,3.3,0.0,NaN
1,76002,Zaid,Abdul-Aziz,Zaid Abdul-Aziz,"Abdul-Aziz, Zaid",Z. Abdul-Aziz,zaid-abdul-aziz,1946-04-07T00:00:00,Iowa State,USA,...,Y,Y,1968,1,5,9.0,1.2,8.0,0.0,NaN
2,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16T00:00:00,UCLA,USA,...,Y,Y,1969,1,1,24.6,3.6,11.2,18.0,NaN
3,51,Mahmoud,Abdul-Rauf,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",M. Abdul-Rauf,mahmoud-abdul-rauf,1969-03-09T00:00:00,Louisiana State,USA,...,Y,Y,1990,1,3,14.6,3.5,1.9,0.0,NaN
4,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03T00:00:00,San Jose State,France,...,Y,Y,1997,1,11,7.8,1.1,3.3,0.0,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 37 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                4500 non-null   int64
 1   FIRST_NAME                        4500 non-null   object
 2   LAST_NAME                         4500 non-null   object
 3   DISPLAY_FIRST_LAST                4500 non-null   object
 4   DISPLAY_LAST_COMMA_FIRST          4500 non-null   object
 5   DISPLAY_FI_LAST                   4500 non-null   object
 6   PLAYER_SLUG                       4500 non-null   object
 7   BIRTHDATE                         4500 non-null   object
 8   SCHOOL                            4497 non-null   object
 9   COUNTRY                           4500 non-null   object
 10  LAST_AFFILIATION                  4500 non-null   object
 11  HEIGHT                            4403 non-null   float64
 12  WEIGHT                            4399 non-null   float64
 13  SEASON_EXP                        4500 non-null   int64
 14  JERSEY                            3545 non-null   object
 15  POSITION                          4440 non-null   object
 16  ROSTERSTATUS                      4500 non-null   object
 17  GAMES_PLAYED_CURRENT_SEASON_FLAG  4500 non-null   object
 18  TEAM_ID                           4500 non-null   int64
 19  TEAM_NAME                         3836 non-null   object
 20  TEAM_ABBREVIATION                 3836 non-null   object
 21  TEAM_CODE                         3836 non-null   object
 22  TEAM_CITY                         3836 non-null   object
 23  PLAYERCODE                        4500 non-null   object
 24  FROM_YEAR                         4500 non-null   int64
 25  TO_YEAR                           4500 non-null   int64
 26  DLEAGUE_FLAG                      4500 non-null   object
 27  NBA_FLAG                          4500 non-null   object
 28  GAMES_PLAYED_FLAG                 4500 non-null   object
 29  DRAFT_YEAR                        4500 non-null   object
 30  DRAFT_ROUND                       4500 non-null   object
 31  DRAFT_NUMBER                      4500 non-null   object
 32  PTS                               4485 non-null   float64
 33  AST                               4485 non-null   float64
 34  REB                               4193 non-null   float64
 35  ALL_STAR_APPEARANCES              4056 non-null   float64
 36  PIE                               429 non-null    float64
dtypes: float64(7), int64(5), object(25)
memory usage: 1.3+ MB

In [ ]:
df.isna().sum()

ID                                     0
FIRST_NAME                             0
LAST_NAME                              0
DISPLAY_FIRST_LAST                     0
DISPLAY_LAST_COMMA_FIRST               0
DISPLAY_FI_LAST                        0
PLAYER_SLUG                            0
BIRTHDATE                              0
SCHOOL                                 3
COUNTRY                                0
LAST_AFFILIATION                       0
HEIGHT                                97
WEIGHT                               101
SEASON_EXP                             0
JERSEY                               955
POSITION                              60
ROSTERSTATUS                           0
GAMES_PLAYED_CURRENT_SEASON_FLAG       0
TEAM_ID                                0
TEAM_NAME                            664
TEAM_ABBREVIATION                    664
TEAM_CODE                            664
TEAM_CITY                            664
PLAYERCODE                             0
FROM_YEAR                              0
TO_YEAR                                0
DLEAGUE_FLAG                           0
NBA_FLAG                               0
GAMES_PLAYED_FLAG                      0
DRAFT_YEAR                             0
DRAFT_ROUND                            0
DRAFT_NUMBER                           0
PTS                                   15
AST                                   15
REB                                  307
ALL_STAR_APPEARANCES                 444
PIE                                 4071
dtype: int64

In [ ]:
df['TEAM_NAME'].unique()

array(['Trail Blazers', 'Rockets', 'Lakers', 'Nuggets', 'Kings',
       'Grizzlies', 'Warriors', 'Nationals', 'Ironmen', nan, 'Clippers',
       'Knicks', 'Magic', 'Suns', 'Pistons', 'Pelicans', 'Nets', 'Heat',
       'Cavaliers', 'Mavericks', 'Celtics', 'Raptors', 'Bullets', '76ers',
       'Spurs', 'Wizards', 'Bucks', 'Bulls', 'Pacers', 'Jazz', 'Royals',
       'Hawks', 'Hornets', 'Falcons', 'Braves', 'Timberwolves',
       'SuperSonics', 'Stags', 'Bombers', 'Olympians', 'Capitols',
       'Rebels', 'Thunder', 'Blackhawks', 'Steamrollers', 'Huskies',
       'Packers', 'Bobcats', 'Jets', 'Redskins', 'Zephyrs'], dtype=object)

In [ ]:
for column in df.columns:
    print(f"\nAttribute: {column}")
    print("Unique Values:")
    unique_values = df[column].unique()
    nunique_values = df[column].nunique()
    print(unique_values)
    print(f"No. unique values: {nunique_values}")

    # For quantitative attributes, display the range
    if df[column].dtype in ['int64', 'float64']:
        print(f"Range: {df[column].min()} to {df[column].max()}")

    # Check for missing values
    print(f"Missing Values: {df[column].isnull().sum()}")

Attribute: ID
Unique Values:
[  76001   76002   76003 ...   78648 1627826   78650]
No. unique values: 4500
Range: 2 to 1629760
Missing Values: 0

Attribute: FIRST_NAME
Unique Values:
['Alaa' 'Zaid' 'Kareem' ... 'Zhou' 'Ante' 'Ivica']
No. unique values: 1445
Missing Values: 0

Attribute: LAST_NAME
Unique Values:
['Abdelnaby' 'Abdul-Aziz' 'Abdul-Jabbar' ... 'Zopf' 'Zubac' 'Zunic']
No. unique values: 2724
Missing Values: 0

Attribute: DISPLAY_FIRST_LAST
Unique Values:
['Alaa Abdelnaby' 'Zaid Abdul-Aziz' 'Kareem Abdul-Jabbar' ... 'Bill Zopf'
 'Ivica Zubac' 'Matt Zunic']
No. unique values: 4464
Missing Values: 0

Attribute: DISPLAY_LAST_COMMA_FIRST
Unique Values:
['Abdelnaby, Alaa' 'Abdul-Aziz, Zaid' 'Abdul-Jabbar, Kareem' ...
 'Zopf, Bill' 'Zubac, Ivica' 'Zunic, Matt']
No. unique values: 4464
Missing Values: 0

Attribute: DISPLAY_FI_LAST
Unique Values:
['A. Abdelnaby' 'Z. Abdul-Aziz' 'K. Abdul-Jabbar' ... 'B. Zopf' 'I. Zubac'
 'M. Zunic']
No. unique values: 3947
Missing Values: 0

Attribute: PLAYER_SLUG
Unique Values:
['alaa-abdelnaby' 'zaid-abdul-aziz' 'kareem-abdul-jabbar' ... 'bill-zopf'
 'ivica-zubac' 'matt-zunic']
No. unique values: 4464
Missing Values: 0

Attribute: BIRTHDATE
Unique Values:
['1968-06-24T00:00:00' '1946-04-07T00:00:00' '1947-04-16T00:00:00' ...
 '1948-06-07T00:00:00' '1997-03-18T00:00:00' '1919-12-19T00:00:00']
No. unique values: 4149
Missing Values: 0

Attribute: SCHOOL
Unique Values:
['Duke' 'Iowa State' 'UCLA' 'Louisiana State' 'San Jose State'
 'California' 'Indiana' 'Western Kentucky' 'Salem' 'FC Barcelona'
 'Pepperdine' 'Long Island-Brooklyn' 'Oral Roberts' 'Hillsdale' 'Baylor'
 'Oklahoma' 'Northwestern' 'Arizona' 'St. Bonaventure' 'Boston College'
 'Pittsburgh' 'Syracuse' 'Kentucky' 'Louisville' 'Loyola-Marymount'
 'Connecticut' 'Michigan State' 'DePaul' 'Missouri State' 'Brigham Young'
 'Hyeres-Toulon' 'Morehead State' 'California State-Fullerton'
 'Illinois State' 'Florida State' 'Fresno State' 'Galatasaray' 'Kansas'
 'Texas' 'Virginia' 'South Florida' 'West Virginia' 'Tennessee'
 'Virginia Tech' 'Marshall' 'Pennsylvania' 'Temple' 'Villanova'
 'Oklahoma State' 'UNLV' 'Weber State' 'Rice' 'Duquesne' 'Liberty'
 'Penn State' 'Southern Illinois' 'Wake Forest' 'Blinn J.C.' 'Memphis'
 "St. Joseph's (PA)" 'Southern California' 'Houston' 'Georgia Tech'
 'Missouri' 'Drexel' 'Bradley' 'Illinois' 'California-Santa Barbara'
 'Georgia' 'Creighton' 'Zalgiris' 'Alabama' 'South East Melbourne'
 'Filathlitikos' 'Dayton' 'Panathinaikos' 'Olympiacos' 'Texas-El Paso'
 'Cincinnati' 'Niagara' 'Iowa' 'Fayetteville State' 'Notre Dame'
 'Florida International' 'Tulane' 'Fenerbahce' 'Alliance' 'Indiana State'
 'North Carolina A&T' 'Arizona State' 'Seton Hall' 'Santa Clara'
 'Baloncesto Fuenlabrada' 'Nevada-Reno' 'Tennessee Tech' 'Fordham'
 'Eastern Kentucky' 'Benston Zagreb' 'Tuskegee' 'Rutgers'
 'North Carolina State' 'New Mexico' 'Ohio State' 'Victoria'
 'Wichita State' 'Hartford' 'Vanderbilt' 'South Carolina'
 'North Carolina-Charlotte' 'Oregon' 'Texas-Austin' "St. Augustine's"
 'California State-Los Angeles' 'Bauru' 'Northeastern' 'Benetton Treviso'
 'Hawaii' 'Auburn' "St. John's" 'North Carolina' 'Providence'
 'Tennessee State' 'Washington State' 'Kansas State' 'Oregon State'
 'Miami' 'Michigan' 'Beijing' 'Kentucky State' 'Trouville' 'Texas Tech'
 'Le Mans' 'Ohio' 'Maryland' 'Seattle' 'Tofas S.K.' 'Old Dominion'
 'Princeton HS (OH)' 'Florida' 'North Dakota' 'Prairie View A&M' 'Cholet'
 'Denver' 'Arkansas' 'Minnesota' 'Fortitudo Bologna' 'Drake'
 'Jacksonville' ' ' 'Picayune HS (MS)' 'Towson' 'Wisconsin-Green Bay'
 'Oakland' 'Marquette' 'Utah' 'Olimpia Milano' 'Baskonia'
 'California (PA)' 'New Mexico State' 'Bowling Green' 'Assumption'
 'BK Skonto' 'Valparaiso' 'Colorado' 'Mega Basket' 'South Dakota State'
 'Monmouth' 'Wisconsin' 'Dartmouth' 'Vermont' 'Holy Cross'
 'South Kent HS (CT)' 'Clemson' 'Xavier' 'Auburn-Montgomery' 'Bridgeport'
 'Georgetown' 'Skyliners Frankfurt' 'St. Louis' 'Idaho State' 'Stanford'
 'Muhlenberg' 'Villa Clara' 'Western Michigan' 'Sydney Kings' 'Detroit'
 'Boston University' 'Eastern Michigan' 'San Francisco' 'Tulsa'
 'Texas Southern' 'Princeton' 'Wyoming' 'Melbourne' 'Southern Methodist'
 'Elon' 'College of Charleston' 'New York University' 'Colgate'
 'Union Olimpija' 'University of Charleston' 'Toledo' 'Johnson C. Smith'
 'Texas A&M' 'Washington' 'West Virginia Wesleyan' 'West Texas A&M'
 'Louisiana-Lafayette' 'La Salle' 'California-Irvine' 'Miami (Ohio)'
 'Humboldt State' 'Texas-San Antonio' 'Indian Hills C.C.' 'Wayne State'
 'Evansville' 'Northwest Florida State' 'Glynn Academy HS (GA)'
 'Murray State' 'George Washington' 'Slippery Rock' 'Louisiana Tech'
 'Idaho' 'Mississippi State' 'South Philadelphia HS (PA)' 'McNeese State'
 'Tilden Tech HS (IL)' 'Penarol' 'Lower Merion HS (PA)/USA' 'Texas State'
 'Jackson State' 'Columbia' 'Iona' 'Pikeville'
 'Coastal Christian Academy (VA)' 'St. Joseph HS (NJ)' 'Buducnost'
 'North Carolina-Wilmington' 'San Diego State' 'Lamar'
 'CC of San Francisco' 'Rockhurst' 'Rhode Island' 'Massachusetts'
 'San Pablo Burgos' 'Elan Chalon' 'Purdue' 'Texas A&M-Commerce' 'Guilford'
 "Mount St. Mary's" 'Virginia Military Institute' 'Maccabi Tel Aviv'
 'Hardin-Simmons' 'South Alabama' 'East HS (NY)' 'Gonzaga' 'Montana'
 'Boise State' 'Canisius' 'Grambling' 'Mississippi' 'Belmont'
 'Colorado State' 'Valenica' 'Hofstra' 'Ohio Wesleyan'
 'Campbell University' 'Southeast Missouri' 'Xavier of Louisiana'
 'Central Connecticut State' 'Cleveland State' 'Houston Baptist'
 'St. Thomas (FL)' 'Bloomsburg' 'Utah State' 'Portland'
 'University of Dayton' "St. Mary's (CA)" 'New Orleans' 'Georgia State'
 'Central Oklahoma' 'Long Beach State' 'Southern Mississippi'
 'South Carolina Upstate' 'Gottingen' 'Maine' 'Kentucky Wesleyan'
 'Thornwood HS (IL)' 'Georgia Southern' 'Davidson' 'Crvena zvezda'
 'Norfolk State' 'Mt. San Antonio' 'Virginia Commonwealth'
 'Virtus Bologna' 'Virtus Roma' 'Budapest AEH' 'Oklahoma Baptist'
 'Delaware State' 'Virginia Union' 'Maynard Evans HS (FL)'
 'Northern Illinois' 'Midwestern State' 'France' 'Wisconsin-River Falls'
 'Clark Atlanta' 'USC' "St.Mary's College of California" 'Pacific'
 "King's" 'Lawrence Tech' 'Rochester' 'Pau Orthez' 'Voorhees'
 'New Mexico Highlands' 'No College' 'Partizan' 'Truman State'
 'Real Madrid' 'Limoges' 'Belmont Abbey' 'Loyola-Chicago' 'Malaga'
 'Gardner-Webb' 'Montevallo' 'Efes Pilsen' 'Eastern Illinois' 'Yale'
 'Missouri-Kansas City' 'William & Mary' 'Westbury Christian HS (TX)'
 'Wright State' 'East Carolina' 'Kent State' 'Arkansas-Little Rock'
 'Hamline' 'American International' 'Morehouse' 'Akron'
 'California State-Long Beach' 'Butler' 'Australian Institute of Sport'
 'Joventut Badalona' 'Central Florida' 'City College of New York'
 'Nebraska' 'Valencia' 'Flamengo' 'Manhattan' 'Adelaide' 'Cherkaski'
 'Cheyney' 'Maryland-Eastern Shore' 'Cornell' 'Mississippi Valley State'
 'Illinois-Chicago' 'Grand Canyon' 'Southwest Texas State'
 'Poitiers Basket 86' 'Brooklyn' 'Polytechnic HS (CA)' 'Fairfield'
 'Elizabeth City State' 'Ribeirao Preto' 'DePauw'
 'Farragut Academy HS (IL)' 'Sam Houston State' 'Augsburg'
 'Western Carolina' 'Northwestern State' 'Fort Valley State' 'CSKA Moscow'
 'Alabama A&M' 'Akademik Varna' 'AEK Athens' 'Florida Gulf Coast'
 "St John's Prep HS (NY)" 'RheinEnergie Cologne' 'DeWitt Clinton HS (NY)'
 'Tuley HS (IL)' 'Va Commonwealth' 'College of New Jersey' 'Oklahoma City'
 'Harvard' 'Hampton' 'Radford' 'Texas-Pan American' 'Southern' 'Brown'
 'Cantera Instituto' 'Minnesota-Duluth' 'Yonsei' 'Saba Battery' 'Franklin'
 'Eastern HS (MI)' 'Richmond' 'North Park' 'St. Patrick HS (NJ)' 'Wingate'
 'Pfeiffer' 'Siena' 'Austin Peay' 'Acadia (CAN)' 'Mount Union'
 'Estudiantes' 'Cajasol Sevilla' 'Texas-Arlington' 'Hoboken HS (NJ)'
 'Northern Colorado' 'Wheeling' 'Winston-Salem State'
 'Indiana-Purdue Indianapolis' 'Queens'
 'SW Atlanta Christian Academy (GA)' 'Springfield' 'Tennessee-Martin'
 'Central Michigan' 'Thomas More' 'Eastern New Mexico' 'Ricoh Manresa'
 'Atletas Kaunas' 'FMP' 'Chorale Roanne' 'American University'
 'St. Francis (PA)' 'Wilberforce' 'Alabama-Birmingham' 'Butler C.C. (KS)'
 "St. Mary's (TX)" 'Florida A&M' 'St. Vincent-St. Mary HS (OH)'
 'Midland (Texas)' 'Washington & Jefferson' 'Wisconsin-Parkside'
 'Robert Morris-Chicago' 'Prentiss HS (MS)' 'William Paterson'
 'East Tennessee State' nan 'Bemidji State' 'Huntington'
 'Stephen F. Austin' 'Dillard' 'California State-San Bernardino' 'Aurora'
 'Cal-Santa Barbara' 'Tampa' 'Albany State (GA)' 'District of Columbia'
 'North Carolina Central' 'Whitworth' 'St. Rose' 'Forest Hills HS (NY)'
 'Zenit Saint Petersburg' 'Minneapolis Vocational HS (MN)'
 'Concord HS (IN)' 'TCU' 'Longwood' 'Middle Tennessee State' 'Stetson'
 'Louisiana-Monroe' 'Nicholls State' 'Bayern Munich' 'Weaver HS (CT)'
 'Nebraska-Kearney' 'Indiana-Purdue Fort Wayne' 'Anadolu Efes'
 'Culver-Stockton' 'Augustana (SD)' 'Rider' 'Donetsk' 'Ulkerspor'
 'Central Park Christian HS (AL)' 'Peristeri' 'Brewster Academy (NH)'
 'Case Western Reserve' 'Campbell' 'Seward County CC' 'Elsik HS (TX)'
 'West Virginia State' 'Alabama State' 'Puget Sound' 'Indianapolis'
 'St. Francis (NY)' 'Tau Ceramica' 'Alabama Huntsville'
 'Petersburg HS (VA)' 'Davis & Elkins' 'Statyba' 'Cibona'
 'Central Missouri' 'Lipscomb' 'Furman' 'Spirou Charleroi'
 'Northern Arizona' 'Lehigh' 'California State-Northridge'
 'Mount Zion Christian Academy (NC)' 'Miles' 'Kyiv' 'No School'
 'Ford City HS (PA)' 'Western Illinois' 'East St. Louis HS (IL)'
 'Hemoform' 'George Mason' 'Mercer' 'North Texas' 'Youngstown State'
 'Lewis' 'Westchester C.C.' 'Meridian CC' 'New Mexico Tech' 'Molloy'
 'Loyola-Maryland' 'Lithuania' 'Guangdong' 'Delta State'
 'Simon Gratz HS (PA)' 'Shaw' 'Bucknell' 'Dijon' 'Wofford'
 'Lietuvos rytas Vilnius' 'Murcia' 'Nortwestern Oklahoma State' 'Brazil'
 'West Florida' 'Alcorn State' 'Strasbourg IG' 'Cedevita'
 'Cal Poly-Obispo' 'Eau Claire HS (SC)' 'Elan Bearnais' 'Beloit'
 'Starkville HS (MS)/USA' 'East Central' 'DJK Wurzburg' 'Coppin State'
 'Tbilisi, Georgia' 'Westminster' 'Lebanon Valley' 'Texas Wesleyan'
 'Centenary-Louisiana' 'Paris Basket Racing' 'Ouachita Baptist'
 'Northeastern State' 'Louisana-Lafayette' 'Buffalo State'
 "The Master's College" 'Clifton J. Ozen HS (TX)' 'Wheaton'
 'Central Arkansas' 'Metis Varese' "St. John's, N.Y."
 'Wisconsin-Stevens Point' 'Utah Valley' 'California-Berkeley' 'Caguas'
 'Lindblom HS (IL)' 'Wisconsin-Eau Claire' 'Bethel' 'Wooster'
 "St. Peter's" 'Navy' 'Nebraska-Lincoln' 'Southeastern Oklahoma State'
 'SUNY-Potsdam' 'Zaragoza' 'Jacksonville State' 'WTC Cornella'
 'St. Vincent' 'Le Moyne' 'Tennessee-Chattanooga' 'Braunschweig'
 'Verviers-Pepinster' 'James Monroe HS (NY)' 'Catholic' 'Dakota Wesleyan'
 'Illinois Wesleyan' 'Augusta State' 'Army' 'Flushing HS (NY)'
 'Edgewater HS (FL)' 'Kenyon' 'Beko' 'Appalachian State'
 'Southeastern Illinois' 'Oak Hill Academy (VA)'
 'Martin Luther King HS (IL)' 'Ball State' 'Marist' 'Howard' 'Canterbury'
 'Central HS (IN)' 'Washington Union HS (CA)'
 'California State-Bakersfield' 'PAOK' 'Cypress Creek HS (FL)'
 'Christopher Newport' 'Eastern Washington' 'Split' 'Bakersfield HS (CA)'
 'Le Havre' 'Olimpia Milino' 'Brigham Young-Hawaii' 'Gran Canaria'
 'Abraham Lincoln HS (NY)' 'Lincoln Memorial' 'Brose Bamberg'
 'Rider University' 'West Virginia Tech' 'Trotamundos' 'James Madison'
 'Znicz Pruszkow' 'Phillips' 'Tokyo Apache' 'Portland State' 'VEF Riga'
 'Travajara' 'Sao Carlos' 'Stroitel' 'Aris' 'Udine' "St. Mary's (MN)"
 'West Georgia' 'Millersville' 'Scranton' 'Benjamin Franklin HS (NY)'
 'Stony Brook, N.Y.' 'American' 'San Diego' 'Seattle Preparatory HS (WA)'
 'Morgan State' 'Walsh' 'Central State' 'California State-Poly Pomona'
 'South Gwinnett HS (GA)' 'Lincoln (MO)' 'South Carolina State'
 'Dwight Morrow HS (NJ)' 'Baltimore' 'Averett' 'Friendship (SC)'
 'Estudiantes de Olavarria' 'Northeast Mississippi CC' 'Shanghai'
 'Hargrave Military Academy (KS)' 'Bayi' 'Xinjiang']
No. unique values: 649
Missing Values: 3

Attribute: COUNTRY
Unique Values:
['USA' 'France' 'Spain' 'New Zealand' 'South Sudan' 'Trinidad and Tobago'
 'Nigeria' 'Turkey' 'Canada' 'United Kingdom' 'Australia' 'Lithuania'
 'Greece' 'Macedonia' 'Brazil' 'Scotland' 'Puerto Rico' 'Mexico' 'Bahamas'
 'Croatia' 'Italy' 'China' 'Uruguay' 'Russia' 'U.S. Virgin Islands'
 'Ghana' 'Latvia' 'Georgia' 'DRC' 'Serbia' 'Sudan' 'Ukraine' 'Germany'
 'Cuba' 'Saint Lucia' 'Slovenia' 'Argentina' 'Norway' 'Ireland'
 'Switzerland' 'Israel' 'Haiti' 'Dominican Republic' 'Mali' 'Senegal'
 'US Virgin Islands' 'Netherlands' 'Cameroon' 'Jamaica' 'Congo' 'Angola'
 'Panama' 'St. Vincent & Grenadines' 'Bulgaria' 'Poland' 'South Korea'
 'Japan' 'Iran' 'Republic of the Congo' 'Sweden' 'Gabon' 'Finland'
 'Belgium' 'Tunisia' 'Montenegro' 'Romania' 'Bosnia and Herzegovina'
 'Estonia' 'Egypt' 'Belize' 'Austria' 'Czech Republic' 'Cabo Verde'
 'Tanzania' 'Venezuela']
No. unique values: 75
Missing Values: 0

Attribute: LAST_AFFILIATION
Unique Values:
['Duke/USA' 'Iowa State/USA' 'UCLA/USA' 'Louisiana State/USA'
 'San Jose State/France' 'California/USA' 'Indiana/USA'
 'Western Kentucky/USA' 'Salem/USA' 'FC Barcelona/Spain' 'Pepperdine/USA'
 'Long Island-Brooklyn/USA' 'Oral Roberts/USA' 'Hillsdale/USA'
 'Baylor/USA' 'Oklahoma/USA' 'Northwestern/USA' 'Arizona/USA'
 'St. Bonaventure/USA' 'Boston College/USA' 'Pittsburgh/New Zealand'
 'Syracuse/USA' 'Kentucky/USA' 'Louisville/South Sudan'
 'Loyola-Marymount/USA' 'Connecticut/USA' 'Michigan State/USA'
 'DePaul/USA' 'Missouri State/USA' 'Brigham Young/USA'
 'Hyeres-Toulon/France' 'Morehead State/USA'
 'California State-Fullerton/USA' 'Illinois State/Trinidad and Tobago'
 'Florida State/Nigeria' 'Fresno State/USA' 'Galatasaray/Turkey'
 'Kansas/USA' 'Texas/USA' 'Virginia/USA' 'South Florida/USA'
 'West Virginia/USA' 'Tennessee/Canada' 'Virginia Tech/Canada'
 'Marshall/USA' 'Pennsylvania/USA' 'Temple/USA' 'Villanova/USA'
 'Florida State/USA' 'Oklahoma State/USA' 'UNLV/USA' 'Weber State/USA'
 'Rice/USA' 'Duquesne/USA' 'Liberty/USA' 'Penn State/United Kingdom'
 'Southern Illinois/USA' 'Wake Forest/USA' 'Blinn J.C./USA'
 'FC Barcelona/Australia' 'Memphis/USA' "St. Joseph's (PA)/USA"
 'Southern California/USA' 'Houston/USA' 'Georgia Tech/USA' 'Missouri/USA'
 'Drexel/USA' 'Bradley/USA' 'Illinois/USA' 'California-Santa Barbara/USA'
 'Georgia/USA' 'Creighton/USA' 'Zalgiris/Lithuania' 'Alabama/USA'
 'South East Melbourne/Australia' 'Filathlitikos/Greece' 'Dayton/Greece'
 'Panathinaikos/Greece' 'UNLV/Canada' 'Olympiacos/Macedonia'
 'Indiana/United Kingdom' 'Brigham Young/Brazil' 'Texas-El Paso/USA'
 'Illinois/Scotland' 'Cincinnati/USA' 'Niagara/USA' 'Iowa/USA'
 'Fayetteville State/USA' 'Penn State/USA' 'Notre Dame/USA'
 'Florida International/Puerto Rico' 'Tulane/USA' 'Pittsburgh/USA'
 'Fenerbahce/Turkey' 'Alliance/USA' 'Indiana State/USA'
 'North Carolina A&T/USA' 'Arizona State/USA' 'Seton Hall/USA'
 'Santa Clara/USA' 'Baloncesto Fuenlabrada/Mexico' 'Arizona/Bahamas'
 'Kentucky/United Kingdom' 'Nevada-Reno/USA' 'Tennessee Tech/USA'
 'Fordham/USA' 'Eastern Kentucky/USA' 'Benston Zagreb/Croatia'
 'Tuskegee/USA' 'Rutgers/USA' 'North Carolina State/USA'
 'New Mexico/Australia' 'Ohio State/USA' 'Victoria/Canada'
 'Wichita State/USA' 'Hartford/USA' 'Vanderbilt/USA' 'South Carolina/USA'
 'North Carolina-Charlotte/USA' 'Oregon/USA' 'Texas-Austin/USA'
 "St. Augustine's/USA" 'California State-Los Angeles/USA' 'Bauru/Brazil'
 'Northeastern/Puerto Rico' 'Benetton Treviso/Italy' 'Hawaii/USA'
 'Auburn/USA' "St. John's/USA" 'North Carolina/USA' 'Northeastern/USA'
 'Providence/USA' 'Tennessee State/USA' 'Washington State/USA'
 'Kansas State/USA' 'Duke/Canada' 'Oregon State/USA' 'Miami/USA'
 'Michigan/USA' 'Beijing/China' 'Kentucky State/USA' 'Trouville/Uruguay'
 'Texas Tech/USA' 'Le Mans/France' 'Ohio/USA' 'Maryland/USA' 'Seattle/USA'
 'Washington State/Australia' 'Tofas S.K./Russia' 'Old Dominion/USA'
 'Princeton HS (OH)/USA' 'Florida/USA' 'Louisville/USA' 'North Dakota/USA'
 'Prairie View A&M/USA' 'Cholet/France' 'Denver/USA' 'Arkansas/USA'
 'Minnesota/USA' 'Fortitudo Bologna/Italy' 'Drake/USA'
 'Florida International/U.S. Virgin Islands' 'Jacksonville/USA'
 'Maccabi Tel Aviv/Croatia' 'Picayune HS (MS)/USA' 'Towson/USA'
 'Wisconsin-Green Bay/USA' 'Oakland/USA' 'Providence/Ghana'
 'Marquette/USA' 'Utah/USA' 'San Jose State/USA' 'Olimpia Milano/Latvia'
 'Baskonia/Latvia' 'California (PA)/USA' 'New Mexico State/Canada'
 'Bowling Green/USA' 'Assumption/Canada' 'BK Skonto/Latvia'
 'Valparaiso/USA' 'Colorado/USA' 'Mega Basket/Georgia'
 'Baloncesto Fuenlabrada/DRC' 'Fenerbahce/Serbia' 'South Dakota State/USA'
 'Monmouth/USA' 'Wisconsin/USA' 'Dartmouth/USA' 'Vermont/USA'
 'Holy Cross/USA' 'South Kent HS (CT)/USA' 'Clemson/USA' 'Xavier/USA'
 'Dayton/USA' 'Tennessee/USA' 'Fenerbahce/Croatia' 'Utah/Australia'
 'Auburn-Montgomery/USA' 'Oregon/Sudan' 'Bridgeport/USA' 'UCLA/Australia'
 'Georgetown/USA' 'Weber State/Ukraine' 'Skyliners Frankfurt/Germany'
 'St. Louis/USA' 'Idaho State/USA' 'Stanford/USA' 'Muhlenberg/USA'
 'Villa Clara/Cuba' 'New Mexico State/USA' 'Oregon/Saint Lucia'
 'Western Michigan/USA' 'Sydney Kings/USA' 'Detroit/USA'
 'Boston University/USA' 'Eastern Michigan/USA' 'San Francisco/USA'
 'Tulsa/USA' 'Texas Southern/USA' 'Princeton/USA' 'Wyoming/USA'
 'Melbourne/Australia' 'Southern Methodist/USA' 'Elon/USA'
 'College of Charleston/USA' 'New York University/USA' 'Colgate/USA'
 'Michigan/Canada' 'Union Olimpija/Slovenia'
 'University of Charleston/USA' 'Toledo/USA' 'Syracuse/Canada'
 'Virginia Tech/USA' 'Johnson C. Smith/USA' 'Texas A&M/USA'
 'Washington/USA' 'Valparaiso/Australia' 'West Virginia Wesleyan/USA'
 'West Texas A&M/USA' 'Oregon/Canada' 'Louisiana-Lafayette/USA'
 'La Salle/USA' 'California-Irvine/USA' 'Miami (Ohio)/USA'
 'Humboldt State/USA' 'Texas-San Antonio/USA' 'Indian Hills C.C./USA'
 'Wayne State/USA' 'Evansville/USA' 'Northwest Florida State/USA'
 'Glynn Academy HS (GA)/USA' 'Murray State/USA' 'George Washington/USA'
 'Slippery Rock/USA' 'Louisiana Tech/USA' 'Idaho/USA'
 'Mississippi State/USA' 'South Philadelphia HS (PA)/USA'
 'McNeese State/USA' 'Tilden Tech HS (IL)/USA' 'Penarol/Argentina'
 'Lower Merion HS (PA)/USA' 'Texas State/Norway' 'Jackson State/USA'
 'Columbia/USA' 'Auburn/Ireland' 'Iona/USA' 'Pikeville/USA'
 'Coastal Christian Academy (VA)/USA' 'St. Joseph HS (NJ)/USA'
 'Buducnost/Serbia' 'Pinheiros/Brazil' 'North Carolina-Wilmington/USA'
 'San Diego State/USA' 'Tau Ceramica/Spain' 'Lamar/USA'
 'CC of San Francisco/USA' 'Rockhurst/USA' 'Rhode Island/USA'
 'Massachusetts/USA' 'San Pablo Burgos/Slovenia' 'Elan Chalon/Switzerland'
 'Purdue/USA' 'Texas A&M-Commerce/USA' 'Guilford/USA'
 "Mount St. Mary's/USA" 'Virginia Military Institute/USA'
 'Maccabi Tel Aviv/Israel' 'Hardin-Simmons/USA' 'South Alabama/USA'
 'East HS (NY)/USA' 'Gonzaga/USA' 'Dominguez HS (CA)/USA' 'Montana/USA'
 'Boise State/USA' 'Canisius/USA' 'Grambling/USA' 'Mississippi/USA'
 'Belmont/USA' 'Gonzaga/Canada' 'Colorado State/Puerto Rico'
 'Valencia/Spain' 'Hofstra/USA' 'Ohio Wesleyan/USA' 'Campbell /USA'
 'Southeast Missouri/USA' 'Xavier of Louisiana/USA'
 'Central Connecticut State/USA' 'Cleveland State/USA'
 'Houston Baptist/USA' 'St. Thomas (FL)/USA' 'Illinois State/USA'
 'Bloomsburg/USA' 'Utah State/USA' 'Portland/USA' "St. Mary's (CA)/USA"
 'New Mexico/USA' 'New Orleans/USA' 'Georgia State/USA'
 'Central Oklahoma/USA' 'Long Beach State/USA' 'Southern Mississippi/USA'
 'South Carolina Upstate/USA' 'Gottingen/Australia' 'Maine/USA'
 'Kentucky Wesleyan/USA' 'Union Olimpija/Serbia' 'Thornwood HS (IL)/USA'
 'Georgia Southern/USA' 'Davidson/USA' 'Crvena zvezda/Serbia'
 'Seton Hall/Haiti' 'Norfolk State/USA' 'Mt. San Antonio/USA'
 'Virginia Commonwealth/USA' 'Virtus Bologna/Serbia' 'Virtus Roma/Italy'
 'Budapest AEH/USA' 'Oklahoma Baptist/USA' 'Delaware State/USA'
 'Virginia Union/USA' 'Maynard Evans HS (FL)/USA' 'Northern Illinois/USA'

In [ ]:
histadd_rows = df[df['PLAYERCODE'].str.contains('HISTADD')]

In [ ]:
histadd_rows['PLAYERCODE']

0            HISTADD_alaa_abdelnaby
1           HISTADD_zaid_abdul-aziz
2       HISTADD_kareem_abdul-jabbar
6             HISTADD_tom_abernethy
7               HISTADD_frosty_able
                   ...
4487              HISTADD_tony_zeno
4488       HISTADD_phil_zevenbergen
4496               HISTADD_jim_zoet
4497               HISTADD_zip_zopf
4499             HISTADD_matt_zunic
Name: PLAYERCODE, Length: 2145, dtype: object

In [ ]:
histadd_rows.DRAFT_YEAR

0            1990
1            1968
2            1969
6            1976
7            1956
          ...
4487         1979
4488         1987
4496    Undrafted
4497         1970
4499         1947
Name: DRAFT_YEAR, Length: 2145, dtype: object

In [ ]:
histadd_rows.DRAFT_YEAR.min()

'1947'

In [ ]:
histadd_rows.DRAFT_YEAR.max()

'Undrafted'

In [ ]:
histadd_rows = histadd_rows[histadd_rows['DRAFT_YEAR'] != 'Undrafted']
histadd_rows.DRAFT_YEAR.max()

'1996'

In [ ]:
histadd_rows.TO_YEAR

0       1994
1       1977
2       1988
6       1980
7       1956
        ...
4483    1971
4487    1979
4488    1987
4497    1970
4499    1948
Name: TO_YEAR, Length: 1678, dtype: int64

In [ ]:
histadd_rows.TO_YEAR.max()

1999

In [ ]:
histadd_rows.FROM_YEAR.max()

1996

In [ ]:
histadd_rows.TO_YEAR.min()

1946

In [ ]:
histadd_rows.FROM_YEAR.min()

1946

In [ ]:
histadd_rows.DLEAGUE_FLAG.unique()

array(['N'], dtype=object)

In [ ]:
drafted_schools = df[df['NBA_FLAG'] == 'Y'].groupby('SCHOOL').size().reset_index(name='NBA_Drafted_Count')

In [ ]:
drafted_schools

                      SCHOOL  NBA_Drafted_Count
0                                            20
1                 AEK Athens                  2
2    Abraham Lincoln HS (NY)                  1
3               Acadia (CAN)                  1
4                   Adelaide                  1
..                       ...                ...
643         Youngstown State                  1
644                 Zalgiris                  2
645                 Zaragoza                  1
646   Zenit Saint Petersburg                  1
647           Znicz Pruszkow                  1

[648 rows x 2 columns]

In [ ]:
drafted_schools = drafted_schools[drafted_schools['NBA_Drafted_Count'] >= 10]
drafted_schools

               SCHOOL  NBA_Drafted_Count
0                                     20
7             Alabama                 27
21            Arizona                 54
22      Arizona State                 28
23           Arkansas                 31
..                ...                ...
616  Western Kentucky                 28
622     Wichita State                 14
628         Wisconsin                 26
637           Wyoming                 25
638            Xavier                 20

[123 rows x 2 columns]